@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
    padding: 0 160px;
    background: rgb(245, 245, 245);
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav-title {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.nav-btn {
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px;
    background-color: white;
}

header {
    margin-top: 24px;
    margin-bottom: 20px;
}

/* banner Section-------------> */
.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 50px;
    gap: 64px;
}

.banner-items {
    margin-bottom: 0;
}

.banner-title {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.banner-describe {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    margin: 0;
    margin: 8px 0 24px 0;
}

.btn-primary {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 15px 34px;
    border: none;
}

.banner-container {
    margin-bottom: 80px;
}

/* end of banner section------------------------------------------------------  */

.pillars-container {
    margin-bottom: 80px;
}

.pillars-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    gap: 24px;
    margin: 0;
}

.card {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;


}

.card-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin-top: 26px;
    margin-bottom: 12px;
}

.card-describe {
    color: rgba(14, 14, 14, 0.7);
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

/* -------------------pillars of card end ------------------*/
.vision-future-container {
    margin-bottom: 32px;
}

.vision-card-container {
    display: flex;
    gap: 24px;
}

.vision-of-future {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;

}

.vision-of-future-describe {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.vision-card {
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
}

.vision-card-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}

.vision-card-describe {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.vision-btn {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background: rgb(84, 144, 245);

}

.green {
    background: rgb(198, 228, 214);
}

.yellow {
    background: rgb(247, 235, 207);
}

.green-btn {
    background: rgb(9, 161, 92);
}

.yellow-btn {
    background: rgb(255, 194, 57);
}

/* end of vision of future section ---------------------------- */
.dr-yunus-container {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 48px 30px;
    margin-bottom: 12px;
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position-x: 30px;
    background-position-y: 35px;

}

.yunus-describe {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
}

.yunus-name {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
}

.yunus-designation {
    margin-top: 0;
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
}

/* end of yunus section  ---------------------*/

.recent-news-section {
    margin-top: 80px;
    margin-bottom: 80px;
}

.recent-news {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}

.recent-news-describe {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.recent-container {
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;
    display: flex;
    gap: 32px;
}

.recent-container-2 {
    margin: 24px 0;
}

.satelite-img {
    border-radius: 24px;

}

.bangladesh-launches-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}

.al-jazeera-logo {
    margin-bottom: 12px;
}

.date-time {
    display: flex;
    gap: 12px;
}

.time {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    gap: 12px;
    margin: 0;
}

.news-describe {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;

}

/* dr yunus section end -------------------------*/

/* donate section start --------------------------- */

.donate-today {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

.donate-describe {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.donate-amount-container {
    display: flex;
    padding: 0 80px;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.donate-amount:hover {
    background: rgb(198, 228, 214);
}

.donate-amount {
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.tk200 {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(198, 228, 214);
}

.tk200:hover {
    background: rgb(9, 161, 92);
}

.donate-amount-box {
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    margin-bottom: 32px;
    width: 1032px;
    height: 64px;
}

.Donate-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* donate section end-------------------------*/


/* subscribe section star -------------------*/

.subsribe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 0;
}

.subsribe-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
    text-align: center;
    margin-bottom: 16px;
}

.subsribe-describe {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0;
    margin-bottom: 24px;

}

.email-box {
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: 600px;
    height: 55px;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    border: none;
    padding-left: 40px;
    margin-bottom: 25px;
}

.subscribe{
    height: 55px;
    border-radius: 0px 8px 8px 0px;
}

.btn-email{
   display: flex;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


}